*, *::before, *::after {
    box-sizing: border-box;
}

html, body, div, span, iframe, h1, h2, h3, h4, p, a, address, img, i, ul, li, form, label, header, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.divider {
    height: 2px;
    width: 140px;
    margin: 20px auto;
    background-color: #ebebeb;
    text-align: center;
}

.divider:after {
    content: "";
    height: 25px;
    width: 25px;
    background-color: #5CADD3;
    border: 5px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -11px;
}

.title-section {
    text-align: center;
}

.title-section-title {
    margin-bottom: 20px;
    font-size: 2.688em;
    text-transform: uppercase;
}

.title-section-text {
    font-size: 1.2em;
    margin: 25px auto 0 auto;
    width: 70%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    z-index: 10;
}

.nav-logo {
    width: 261px;
    height: 57px;
    margin: 0;
}

.navbar-collapse {
    height: 100%;
}

.navbar-nav {
    display: flex;
    height: 100%;
}

.nav-item {
    list-style: none;
    display: flex;
    height: 100%;
}

.nav-link {
    text-decoration: none;
    color: #2d3436;
    padding: 0 15px;
    border-top: 3px solid transparent;
    align-items: center;
    display: flex;
    height: 100%;
}

.nav-link:hover {
    border-color: #5CADD3;
}

@media all and (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        height: 150px;
    }

    .navbar-brand {
        margin-top: 20px;
    }

    .nav-link {
        border-bottom: 3px solid transparent;
    }

    .nav-link:hover {
        border-bottom: 3px solid #5CADD3;
        border-top: none;
    }
}

.carousel {
    margin-top: 100px;
    position: relative;
}

.carousel-background {
    margin: 0;
    position: relative;
}

.img-background {
    width: 100%;
}

.chevron-carousel-left, .chevron-carousel-right {
    position: absolute;
    color: #ffffff;
    font-size: 2em;
    z-index: 2;
    top: calc(50% - 17px);
}

.chevron-carousel-left {
    left: 5px;
}

.chevron-left {
    position: absolute;
    top: 40%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    height: 70px;
    width: 35px;
    border-radius: 0 70px 70px 0;
    cursor: pointer;
    z-index: 2;
}

.chevron-carousel-right {
    right: 5px;
}

.chevron-right {
    position: absolute;
    top: 40%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    height: 70px;
    width: 35px;
    border-radius: 70px 0 0 70px;
    cursor: pointer;
    z-index: 2;
}

.carousel-title {
    position: absolute;
    width: 45%;
    top: 40%;
    left: 10%;
}

.title-carousel-title, .text-carousel-title {
    color: #fff;
}

.title-carousel-title {
    font-size: 3em;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

.blue-title {
    color: #5CADD3;
}

.text-carousel-title {
    padding-bottom: 10px;
    font-size: 2em;
}

.button-carousel-title {
    border: 0;
    display: block;
    height: 48px;
    width: 144px;
    border-radius: 3px;
    background-color: #5CADD3;
    border-bottom: 3px solid #4494bb;
    cursor: pointer;
    font-size: 1em;
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    line-height: 3em;
}

@media all and (max-width: 2400px) {
    .carousel-title {
        top: 35%;
    }

    .title-carousel-title {
        font-size: 2em;
    }

    .text-carousel-title {
        font-size: 1em;
    }
}

@media all and (max-width: 1200px) {
    .carousel-title {
        width: 50%;
    }
}

@media all and (max-width: 992px) {
    .carousel-title {
        top: 20%;
    }
}

@media all and (max-width: 768px) {
    .carousel-title {
        text-align: center;
        margin-top: 60px;
        width: 100%;
        background-color: #F5F5F5;
        left: 0;
        padding: 20px;
    }

    .title-carousel-title {
        color: #1e272e;
    }

    .text-carousel-title {
        margin-top: 2em;
        color: #5CADD3;
    }

    .img-background, .chevron-left, .chevron-right, .button-carousel-title {
        display: none;
    }
}

.section-services {
    margin: 100px auto;
}

.article-services {
    margin: 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.article-img {
    margin: auto 0;
}

.img-screen {
    width: 100%;
    margin: auto 0;
}

.article-group {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.article-single {
    display: flex;
    margin: 20px;
}

.article-icon {
    color: #5CADD3;
    font-size: 2em;
    border: 1px solid rgba(204, 204, 204, 0.50);
    padding: 0;
    border-radius: 50%;
    margin: auto 0;
    position: relative;
    height: 65px;
    min-width: 65px;
    max-width: 65px;
}

.article-icon:after {
    content: "";
    height: 24px;
    width: 24px;
    background-color: #5CADD3;
    border: 5px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 16px;
    left: 50px;
}

.article-icon-font {
    position: absolute;
    top: 15px;
    left: 15px;
}

.text-article {
    margin-left: 50px;
}

.text-article-title {
    font-weight: 700;
    line-height: 2em;
    font-size: 1.1em;
}

@media all and (max-width: 992px) {
    .article-services {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .article-group {
        margin: auto;
    }

    .article-single {
        display: flex;
        flex-direction: column;
    }

    .article-icon {
        margin: auto;
    }

    .article-icon:after {
        left: 30px;
    }

    .text-article {
        margin-left: 0;
    }
}

@media all and (max-width: 768px) {
    .section-services {
        padding-top: 300px;
    }

    .title-section-text {
        font-size: 1em;
    }

    .article-group {
        width: 100%;
    }
}

.section-projets {
    padding: 100px 0;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.nav-works {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.nav-link-work {
    width: 110px;
    height: 40px;
    line-height: 40px;
    background: #e5e5e5;
    text-align: center;
    cursor: pointer;
    margin-top: 60px;
    text-decoration: none;
    color: #64686d;
    font-weight: bold;
}

.nav-link-work:hover {
    background-color: #5cadd3;
    height: 40px;
    color: white;
    border-bottom: 3px solid #4494bb;
    position: relative;
}

.nav-link-work:last-child {
    border-radius: 0 5px 5px 0;
}

.nav-link-work:first-child {
    border-radius: 5px 0 0 5px;
}

.nav-work-icon {
    display: none;
}

.nav-link-work:hover .nav-work-icon {
    display: block;
    position: absolute;
    bottom: -13px;
    left: 45%;
    color: #4494bb;
}

.group-link-work {
    max-width: 1150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding: 30px;
}

.work {
    position: relative;
    width: 250px;
    padding: 15px 0;
}

.work-img {
    width: 100%;
}

.work-description {
    position: absolute;
    top: 15px;
    height: 60px;
    width: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.work-description-title {
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 10px;
    padding-top: 10px;
}

.work-icon {
    position: absolute;
    bottom: 40px;
    right: 15px;
    border: 2px solid #fff;
    border-radius: 50px;
    background-color: #5CADD3;
    padding: 10px 10px;
    font-size: 0.8em;
}

.work-description-text {
    font-size: 0.9em;
    padding: 2px 0 0 10px;
    color: #fff;
}

.work:hover .work-description {
    top: 122px;
    opacity: 1;
}

.contact {
    position: relative;
}

.overlay{
    top: 0;
    height: 625px;
    width: 100%;
    z-index: 2;
    background-color: rgba(66, 134, 244, 0.3);
    position: absolute;
    pointer-events: none;
}

.maps{
    width: 100%;
    height:625px;
    border: 0;
    z-index: 1;
}

.contact-window{
    padding: 0 20px;
    position: absolute;
    margin-right: 10%;
    right: 0;
    background-color: rgba(255, 255, 255,0.9);
    z-index: 3;
    width: 360px;
    bottom:45px;
    top: 45px;
}

.title-contact{
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 15px;
}

.address p{
    color: #64686d;
}

.address p:first-of-type{
    font-weight: bold;
    padding-top: 0;
}

.title-phone-number{
    border-bottom: 1px dotted #64686d;
}

.contact-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
}

.input-form{
    margin: 8px 0;
    width: 100%;
    padding: 0;
}

.input-form-input, .input-form-textarea, .input-form-submit{
    width: 100%;
    border-radius: 4px;
    border: 1px solid #dfd7d7;
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 10px;
}

.input-form-textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 130px;
    max-height: 130px;
    font-family: Arial, sans-serif;
    resize : both;
    font-size: 0.9em;
}

.input-form-submit{
    width: 115px;
    background-color: #5CADD3;
    color: #fff;
    font-size: 0.8em;
    font-family: Arial, sans-serif;
    border-bottom: 3.5px solid #4494BB;
    cursor: pointer;
    padding:  10px 0;
    font-weight: 700;
}

@media all and (max-width: 992px) {
    .maps, .overlay{
        height: 300px;
        margin: 0;
    }

    .contact-window{
        position: relative;
        width: 100%;
        background-color: #f5f5f5;
        margin: 0 auto;
        top: 0;
        bottom: 0;
    }
}
